@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=vietnamese');
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-size: 1.1rem;
}

/* Overlay */
/* .overlay {
    z-index: 10;
    position: absolute;
    height: 100vh; 
    width: 100%;
    background: #fff;
    top: 0%;
    bottom: 0;
    left: 0;
  
} */
.overlay h1 {
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    letter-spacing: 12px;
    font-size: 30px;
    text-transform: uppercase;

}
/* Wapper */
.wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    position: relative;
}
/* Navigation */
.nav-bar {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #e74c3c;
    align-items: center;
    margin : 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;

}

.logo {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;
    color: #ecf0f1;
    display: inline-block;
    vertical-align: middle;
    display: flex;   
}
.logo span {
    vertical-align: center;
    margin: 0 0.5rem;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 20%;
    
}
.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color :#ecf0f1;
}

.nav-link li a:hover {
    font-weight: bolder;
    transition: all 0.2s ease-in;
}

.burger {
    display :none;
    cursor: pointer;
}
.burger div {
    width :20px;
    height: 3px;
    margin: 5px;
    background-color: #ecf0f1;

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Typescrip Js */
.typescrip {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    margin-bottom: 60px;
    
}
.typescrip h3 {
    font-size: 2rem;
    color: #2c3e50;
}
.typescrip span {
    color : #27ae60;
}
.typed-cursor {
    font-weight: 100;
    color : #2c3e50 !important;
} 
/* Project */

.work {
    line-height: 1.3;
    padding-top: 90px;
}

.project {
    display : block;
    width : 100%;
    text-decoration: none;
    margin : 1em 0;
    cursor: pointer;
}
figure {
    margin: 0;
    padding: :0;
}
.project figure img {
    width :100%;
    display: block;
    object-fit: cover;
    height: 300px;
}
.project figcaption {
    padding: 1em;
    background: #27ae60;
    color : #ecf0f1;
}

.project h3 {
    color : #ecf0f1;
    margin : 0;
}

.cta {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.cta::after {
    content: "\ea4d";
    font-family: boxicons!important;
    margin : 0.5em 0.5em 0 .5em;
    font-size: 1.3em;
}

.bottom {
    width : 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
}
.bottom footer {
    text-align: center;
    padding-top: 90px;
}
 

.bottom a {
    text-decoration: none;
    display: inline-block;
    border: none;
    background: transparent;
    padding: 12px 36px;
    font-size: 1.5rem;
    color: #ecf0f1;
    line-height: 40px;
}
.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.button.type3 {
  color: #e74c3c;
}
.button.type3.type3::after, 
.button.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #e74c3c;
  border-right-color:#e74c3c;
}
.button.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #e74c3c;
  border-left-color: #e74c3c;
}
.button.type3.type3:hover:after, 
.button.type3.type3:hover:before {
  border-bottom-color: #e74c3c;
  border-right-color: #e74c3c;
  border-top-color: #e74c3c;
  border-left-color: #e74c3c;
  width: 100%;
  height: 100%;
}
.bottom span {
    padding : 1em 10px;
    font-family: "Poppins";
    font-weight: 300;
    vertical-align: middle;
}

.bottom p {
    margin:  2em 0;
}

.bottom .copyright {
    width: 100%;
    font-size: 12px ;
    margin: 2rem 0;
}




/* Media Social */
.media-tag {
    position: fixed;
    bottom: 0;
    left: 15px;
    opacity: 0.7;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}
.media-social {
    position: fixed;
    top : 85%;
    left: 10px;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.media-social-active {
    animation: mediaFade 0.5s forwards ease;
}

.media-social li{
    list-style: none;
}

.media-social li a {
    text-decoration: none;
    color: #e74c3c;
    font-size: 1.5rem;
    transition: 0.5s ease;
}
.media-social li a:hover {
    opacity: .6;
    transition: all 0.5s ease;
}


@media screen and (min-width: 1200px) {
    
    .nav-link {
        width : 30%;
    }
    .work {
        max-width: 1200px;
        margin: 0 auto;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 1em;

    }
    .project:nth-child(4) {
        grid-column: 1 / span 3;
    }
    .project {
        width : 100%;
        height: 300px;
        text-decoration: none;
        margin: 0;
    }
    .project figure{
        position: relative;
        overflow: hidden;
        
    } 
    .project figure img {
        position: relative;
        z-index: 3;
        transition: transfrom 1s ease;
    }
    .project figure:hover img {
        transform: translateY(-90px);
        transition: all 1s;
    }
    .project figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding : 20px;
        height: 55px;
        width: 100%;
    }
}

@media screen and (max-width:760px) {

    .body {
        overflow-x:  hidden;
    }
    .nav-bar {
        padding: 0;
        margin: 0;
    }
    .nav-link {
        position: absolute;
        right: 0px;
        height: 92vh;
        top : 8vh;
        background: #e74c3c;
        display : flex;
        flex-direction: column;
        align-items: center;
        width : 50%;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .nav-link li {
       opacity: 0;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }

    .work .container {
        max-width: 460px;
        margin: 0 auto;
    }
    
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes mediaFade {
    from {
        opacity: 0;
        left: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        left: 0;
        transform: translateY(-60px);
    }
}
