@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=vietnamese');
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
    font-size: 1.1rem;
}

/* Overlay */
.overlay {
    display: none;
}
/* Wapper */
.wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    position: relative;
}
/* Navigation */
.nav-bar {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #e74c3c;
    align-items: center;
    margin : 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    color: #ecf0f1;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 20%;
    
}
.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color :#ecf0f1;
}

.nav-link li a:hover {
    font-weight: bolder;
    transition: all 0.2s ease-in;
}

.burger {
    display :none;
    cursor: pointer;
}
.burger div {
    width :20px;
    height: 3px;
    margin: 5px;
    background-color: #ecf0f1;

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Typescrip Js */
.typescrip {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10px;
    
}
.typescrip h3 {
    font-size: 2rem;
    color: #2c3e50;
}
.typescrip span {
    color : #e74c3c;
}
.typed-cursor {
    font-weight: 100;
    color : #2c3e50 !important;
} 
/* Project */

.work {
    line-height: 1.3;
    margin: 0 0 4em;
}

.project {
    display : block;
    width : 100%;
    text-decoration: none;
    margin : 1em 0;
    cursor: pointer;
}
figure {
    margin: 0;
    padding: :0;
}
.project figure img {
    width :100%;
    display: block;
    object-fit: cover;
    height: 300px;
}
.project figcaption {
    padding: 1em;
    background: #e74c3c;
    color : #ecf0f1;
}

.project h3 {
    color : #ecf0f1;
    margin : 0;
}

.cta {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.cta::after {
    content: "\ea4d";
    font-family: boxicons!important;
    margin : 0.5em 0.5em 0 .5em;
    font-size: 1.3em;
}

.bottom {
    width : 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
}
.bottom footer {
    text-align: center;
    padding-top: 90px;
}

.bottom a {
    display: inline-block;
    border: none;
    background: #e74c3c;
    padding: 12px 36px;
    font-size: 1.5rem;
    color: #ecf0f1;
    border-radius: 40px;
    line-height: 40px;
    text-decoration: none;
}

.bottom span {
    padding : 1em 10px;
    font-family: "Poppins";
    font-weight: 300;
    vertical-align: middle;
}

.bottom p {
    margin:  2em 0;
}




/* Media Social */
.media-social {
    position: fixed;
    top : 60%;
    left: 10px;
    transform: translate(-50%, -50%);
}

.media-social li{
    list-style: none;
}

.media-social li a {
    text-decoration: none;
    color: #2c3e50;
    font-size: 1.5rem;
    transition: 0.5s ease;
}
.media-social li a:hover {
    color: #e74c3c;
}


@media screen and (min-width: 1200px) {
    
    .nav-link {
        width : 30%;
    }
    .work {
        max-width: 1200px;
        margin: 0 auto;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 1em;

    }
    .project:nth-child(4) {
        grid-column: 1 / span 3;
    }
    .project {
        width : 100%;
        height: 300px;
        text-decoration: none;
        margin: 0;
    }
    .project figure{
        position: relative;
        overflow: hidden;
        
    } 
    .project figure img {
        position: relative;
        z-index: 999;
        transition: transfrom 1s ease;
    }
    .project figure:hover img {
        transform: translateY(-90px);
        transition: all 1s;
    }
    .project figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding : 20px;
        height: 55px;
        width: 100%;
    }
}

@media screen and (max-width:760px) {

    .body {
        overflow-x:  hidden;
    }
    .nav-bar {
        padding: 0;
        margin: 0;
    }
    .nav-link {
        position: absolute;
        right: 0px;
        height: 92vh;
        top : 8vh;
        background: #e74c3c;
        display : flex;
        flex-direction: column;
        align-items: center;
        width : 50%;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .nav-link li {
       opacity: 0;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }

    .work .container {
        max-width: 460px;
        margin: 0 auto;
    }
    
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
